<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hr consulting</a>
    <button onclick="navbar(this)" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" onclick="navar_click(this)" title="home" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="navar_click(this)" title="connexion" href="#">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="navar_click(this)" title="inscription" href="#">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" onclick="navar_click(this)" title="autre"   href="#">autre</a>
        </li>
      </ul>
    </div>
  </nav>
  <h6 class="margin_top_150"></h6>

  <script>
 

 

function navar_click(_this) {

 




  switch (_this.title) {
  case "home":
  navar_click_(_this.title);
    break;
  case "connexion":
   navar_click_(_this.title);
    break;
  case "inscription":
     navar_click_(_this.title);
    break;
  case "autre":
   navar_click_(_this.title);
    break;
 
}
 
}    
</script>